 
*{ 
    color: rgb(255, 255, 255);
} 

footer{
background-color: rgb(53, 51, 51);
color: white; 
}

header{
    background-color: rgb(36, 36, 36);
} 

.searchText{
    background-color: white;  
}

.searchText::-webkit-input-placeholder{ 
    color: darkred; 
    
} 

.searchButton{  
    color: white; 
    background-color: rgb(21, 11, 104); 
}

.searchButton:hover{
    background-color: rgb(12, 10, 128);
    color: rgb(255, 255, 255);
}

.searchButton:active{
    background-color: rgb(21, 2, 65);
    color: rgb(255, 255, 255);
} 
.logo{
    color: rgb(218, 218, 218);
} 